.Home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4 {
    margin: 0;
  }

  h3 {
    margin: 4px 0 15px 0;
  }
  a {
    margin-right: 15px;
    margin-top: 15px;
  }
}
