
.imageContainer {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 56.25em) {
    .imageContainer {
        width: 30rem;
        height: 100%;
        object-fit: cover;
    }

    .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}

.col2grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-auto-rows: auto;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 31.25em) {
  .col2grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


.iconContainer {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}
