
.imageContainer {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col2grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-auto-rows: auto;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.iconContainer {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}
