.about {
    margin-top: 8rem;
    margin-bottom: 5rem;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.aboutContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    grid-auto-rows: auto;
    margin: auto;
    border: 1px solid red;
}

.span4 {
    grid-column: auto / span 4
}

.span8 {
    grid-column: auto / span 8
}

.col2grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-auto-rows: auto;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.iconContainer {
    display: flex;
    gap: 2rem;
}
