.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.scrollup-container{
  height: 2rem;
  margin-bottom: 1rem;
}

.icons-container{
  a {
    margin-right: 15px;
  } 
    margin-top: 15px;
}

