.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.scrollup-container{
  height: 2rem;
  margin-bottom: 1rem;
}

.icons-container{
  a {
    margin-right: 15px;
  } 
    margin-top: 15px;
}

.home-h1{
  font-size: 10.6rem;
  font-weight: 700;
  margin:0;

  @include respond(tab-land) {
    font-size: 7rem;
  }
  @include respond(tab-port) {
    font-size: 5rem;    
  }
  @include respond(phone) {
    font-size: 4.2rem;
  
  }
  @include respond(phone-xs) {
    font-size: 3.8rem;
  }
}

