
html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

body {
  box-sizing: border-box;
  background: $background-color;
  color: $main-color !important;
  margin: 0;
}

