/* Self-hosted Fonts */
@font-face {
  font-family: 'Manrope';
  src: url('/src/fonts/manrope-v20-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/src/fonts/manrope-v20-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* CSS Variables */
:root {
  --main-color: #8f8f8f;
  --second-color: #030303;
  --third-color: #EA728C;
  --background-color: #ededeb;

  /* Breakpoints */
  --phone-xs: 20em;
  /* 320px */
  --phone: 37.5em;
  /* 600px */
  --tab-port: 56.25em;
  /* 900px */
  --tab-land: 75em;
  /* 1200px */
  --big-desktop: 112.5em;
  /* 1800px */
}

/* Resets */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Base Styles */
html {
  font-size: 62.5%;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

body {
  box-sizing: border-box;
  background: var(--background-color);
  color: var(--main-color) !important;
  margin: 0;
}

/* Typography */
h1 {
  font-size: clamp(4.2rem, 12vw + 1rem, 8.6rem);
  font-weight: 800;
  line-height: 120%;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 180%;
}

h4 {
  font-weight: 600;
  font-size: 16px;
}

p {
  font-weight: 600;
  line-height: 170%;
  font-size: 1.7rem;
}

a {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

/* Grid System */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
  grid-auto-rows: auto;
  margin: auto;
  width: 100%;
}

.col-span-4 {
  grid-column: span 4;
}

.col-span-8 {
  grid-column: span 8;
}

.col-8-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    margin:auto;
}

.col-span-2 {
    grid-column: span 2;
    margin-bottom: 2rem;
}
.col-span-6 {
    grid-column: span 6;
    margin-bottom: 2rem;
}

.section {
  margin-top: 3rem;
  margin-bottom: 8rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

.text-black {
  color: var(--second-color);
  font-weight: 800;
}

@media only screen and (max-width: 56.25em) {
  .col-span-4,
  .col-span-8 {
    grid-column: span 12;
  }
}