.chipSection {
    margin-bottom: 10px;
}

.skills {
    margin-bottom: 10.6rem;
}

.gridCol4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    border-top: 0.5px solid #0000001f;
    border-left: 0.5px solid #0000001f;
}

.box {
    border-right: 0.5px solid #0000001f;
    border-bottom: 0.5px solid #0000001f;
    padding: 2rem;
}
