.navBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 3rem;
}

.navLinks {
    display: flex;
    list-style: none;
}

.navLinks li {
    margin-left: 20px;
}

.navLinks a {
    font-size: 1.6rem;
    color: var(--main-color);
    position: relative;
    text-decoration: none;
}

.navLinks a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--main-color);
    transition: width 0.3s ease-in-out;
}

.navLinks a:hover::after {
    width: 100%;
}